<link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
@model IEnumerable<LoginandRegisterMVC.Models.DoctorDetail>

@{
    ViewBag.Title = "Index";
}

<br>
<div class="w3-display-container w3-text-white">
    <img src="~/img/hhc.jpg" alt="Sample Image" style="width:100%;  border-radius:10px;" />
    <div class=" overlay ">
        <div class="text">
            <h2 class="w3-jumbo" style="font-family:'Times New Roman';"><b>Health Inspector</b></h2>
        </div>
    </div>
</div>
<br/>

<h2>Add New Doctor</h2>
<p>@Session["Available"]</p>

@if (Session["Available"].Equals("No"))
{
    <p>
        @Html.ActionLink("Create New", "Create", new { id = Session["Id"] })
    </p>
}
@*<p>
        @Html.ActionLink("Create New", "Create")
    </p>
*@<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.DoctorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Specialization)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.TotalClinic)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Avalaibility)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Specialization)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.TotalClinic)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Avalaibility)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id, did = Session["Id"] }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id, did = Session["Id"] }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id, did = Session["Id"] })
            </td>
        </tr>
        <p>
            @Html.ActionLink("Appointments List of " + item.DoctorName, "Index", "Appointments", new { id = Session["Id"] }, null)
        </p>
    }

</table>

