@model LoginandRegisterMVC.Models.PatientTreatmentRecord

@{
    ViewBag.Title = "DetailsPatient";
}

<h2>DetailsPatient</h2>

<div>
    <h4>PatientTreatmentRecord</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.PatientName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.PatientId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.PatientId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Symptoms)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Symptoms)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Diagnosis)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Diagnosis)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TreatmentPlanned)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TreatmentPlanned)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Prescription)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Prescription)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.RevisitRequired)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.RevisitRequired)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextRevisitDate)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextRevisitDate)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.NextRevisitTime)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.NextRevisitTime)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.FrequencyRevisit)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.FrequencyRevisit)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorID)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorID)
        </dd>

    </dl>
</div>
<p>
   
    @Html.ActionLink("Back to List", "Index")
</p>
