@model LoginandRegisterMVC.Models.Clinic

@using (Html.BeginForm("Index", "Users", FormMethod.Post))
{
    // @Html.AntiForgeryToken()

<div class="form-horizontal container-fluid">
    <h2 class="text-center text-danger">Search Doctor</h2>
    <hr />



    <div class="form-group">
        @Html.LabelFor(model => model.Specialization, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.Specialization, ViewBag.Speciality as SelectList, "--select--")
            @Html.ValidationMessageFor(model => model.Specialization, "", new { @class = "text-danger" })
        </div>
    </div>

    <div class="form-group">
        @Html.LabelFor(model => model.LocalityId, htmlAttributes: new { @class = "control-label col-md-2" })
        <div class="col-md-10">
            @Html.DropDownListFor(model => model.LocalityId, ViewBag.Locality as SelectList, "--select--")
            @Html.ValidationMessageFor(model => model.LocalityId, "", new { @class = "text-danger" })
        </div>
    </div>

    @*<div class="form-group">
        @Html.LabelFor(model => model.City, htmlAttributes: new { @class = "control-label col-md-2" })

         <div class="col-md-10">

         @Html.DropDownListFor(model => model.City, new List<SelectListItem>
        {
        new SelectListItem{Text="Shirpur",Value="Shirpur"},
        new SelectListItem{Text="Nandurbar",Value="Nandurbar"},
        new SelectListItem{Text="Pune",Value="Pune"}
        }, "Select Role", htmlAttributes: new { @class = "form-control" })
        @Html.ValidationMessageFor(model => model.City, "", new { @class = "text-danger" })

         </div>
        </div>*@

    <div class="form-group">
        <div class="col-md-offset-2 col-md-10">
            <input type="submit" value="Search" class="btn btn-success" />

        </div>
    </div>

</div>}