@model IEnumerable<LoginandRegisterMVC.Models.FeedbackQuestion>

@{
    ViewBag.Title = "QuestionList";
}

<h2>QuestionList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.FeedBackQuestion)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.FeedBackQuestion)
        </td>
        <td>
            @Html.ActionLink("AddFeedback", "AddFeedback", new { id=item.QuestionId }) |
            @*@Html.ActionLink("Details", "Details", new { id=item.QuestionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuestionId })*@
        </td>
    </tr>
}

</table>
