@model IEnumerable<LoginandRegisterMVC.Models.FeedbackQuestion>

@{
    ViewBag.Title = "QuestionsList";
}

<h2>QuestionsList</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Question)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Question)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.QuestionId }) |
            @Html.ActionLink("Details", "Details", new { id=item.QuestionId }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.QuestionId })
        </td>
    </tr>
}

</table>
