@model LoginandRegisterMVC.Models.Clinic

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Clinic</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.ClinicName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClinicName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorName)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorName)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.DoctorId)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.DoctorId)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Facilities)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Facilities)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ClinicTiming)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ClinicTiming)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressFLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressFLine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.AddressSLine)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.AddressSLine)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.City)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.City)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.State)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.State)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.ZipCode)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.ZipCode)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.Id }) |
    @Html.ActionLink("Back to List", "Index","Clinics",new { id = Session["Id"] },null)
</p>
