
@model IEnumerable<LoginandRegisterMVC.Models.Clinic>

@{
    ViewBag.Title = "Index";
}

<br>
<div class="w3-display-container w3-text-white">
    <img src="~/img/hhc.jpg" alt="Sample Image" style="width:100%;  border-radius:10px;" />
    <div class=" overlay ">
        <div class="text">
            <h2 class="w3-jumbo" style="font-family:'Times New Roman';"><b>Health Inspector</b></h2>
        </div>
    </div>
</div>
<br />

<h2>Add New Clinic</h2>

<p>
    @Html.ActionLink("Create New", "Create", new { id = Session["Id"] })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.ClinicName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorName)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.DoctorId)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Facilities)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ClinicTiming)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressFLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.AddressSLine)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.City)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.State)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.ZipCode)
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.ClinicName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DoctorId)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Facilities)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ClinicTiming)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressFLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.AddressSLine)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.City)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.State)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.ZipCode)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id, did = Session["Id"] }) |
                @Html.ActionLink("Details", "Details", new { id = item.Id, did = Session["Id"] }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.Id, did = Session["Id"] })
            </td>
        </tr>
    }

</table>


<div id="cards_landscape_wrap-2">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">

                <a href="/Appointments/Index/" onclick="location.href=this.href+@Session["Id"];return false;">
                    @*                    @Html.ActionLink("Help", "HelpAsk", "Help", new { id = Session["Id"] }, null)
                    *@
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                @*                                <img src="https://cdn.pixabay.com/photo/2018/03/30/15/11/deer-3275594_960_720.jpg" alt="" />
                                *@                                <img src="~/img/help.jpg" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>Appointment Details</h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>

            <div class="col-xs-12 col-sm-6 col-md-6 col-lg-6">
                <a href="/Clinics/Index/" onclick="location.href=this.href+@Session["Id"];return false;">
                    <div class="card-flyer">
                        <div class="text-box">
                            <div class="image-box">
                                @*                                <img src="https://cdn.pixabay.com/photo/2018/04/09/19/55/low-poly-3305284_960_720.jpg" alt="" />
                                *@                                <img src="~/img/ap.jpg" alt="" />
                            </div>
                            <div class="text-container">
                                <h6>Clinic Details</h6>
                                <p>Lorem Ipsum is simply dummy text of the printing and typesetting industry. Lorem Ipsum has been the industry's standard dummy text ever since the 1500s.</p>
                            </div>
                        </div>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>
