@model LoginandRegisterMVC.Models.BMI

@{
    ViewBag.Title = "ADD";
}
@if (!IsPost)
{
    <h2>Calculate Your Body Mass Index</h2>

    using (Html.BeginForm())
    {
        @*@Html.AntiForgeryToken()*@

        <div class="form-horizontal">
            <h4>BMI</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            <div class="form-group">
                @Html.LabelFor(model => model.Height, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Height, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Height, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.Weight, htmlAttributes: new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.EditorFor(model => model.Weight, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.Weight, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">

                    @Html.HiddenFor(model => model.UserId)
                    <input type="submit" value="Get BMI" class="btn btn-primary" />

                    <hr />
                    @Html.ActionLink("Get Diet/ Exercise Recommendations", "DietRecommendation", "BMI", new { @class = "btn btn-primary" })
                </div>
            </div>
        </div>
        if (Session["RoleLogin"].Equals("Doctor"))
        {
            @Html.ActionLink("Home", "Index", "Doctor", new { id = Session["Id"] }, new { @class = "btn btn-primary" })
        }
        else
        {
            @Html.ActionLink("Home", "Index", "Users", new { id = Session["Id"] }, new { @class = "btn btn-primary" })
        }


    }
}
else
{
    if (Model.BMIResult > 0)
    {
        <h3>BMI Value is : <b><span style="color:red">@ViewBag.BMIResult</span></b></h3>
        <br />

        if (Session["RoleLogin"].Equals("Doctor"))
        {
            @Html.ActionLink("Home", "Index", "Doctor", new { id = Session["Id"] }, new { @class = "btn btn-primary" })
        }
        else
        {
            @Html.ActionLink("Home", "Index", "Users", new { id = Session["Id"] }, new { @class = "btn btn-primary" })
        }
    }
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}

